.contacto {
  background-color: transparent;
  margin: 50px 0px 50px 0px;
  border: 5px double #fff;
  width: 60%;
  .formulario {
    &-campos {
      display: flex;
      &-campo {
        display: flex;
        flex-direction: column;
        padding: 40px;
        flex-basis: calc(33% * 3);
        label {
          color: #fff;
        }
        input {
          background-color: transparent;
          border-top: 0px solid #fff;
          border-right: 0px solid #fff;
          border-left: 0px solid #fff;
          border-bottom: 1px solid #fff;
          color: #fff;
        }
      }
    }
    &-textarea {
      padding-left: 40px;
      p {
        color: #fff;
      }

      textarea {
        width: 94%;
        background-color: transparent;
        border: 1px solid #fff;
        height: 110px;
        color: #fff;
      }
    }
    .boton {
      display: flex;
      justify-content: center;

      padding: 45px;
      #enviar {
        background-color: transparent;
        color: #fff;
        padding: 10px 0px 10px 0px;
        border: 2px solid #fff;
        width: 45%;
        cursor: pointer;
        font-weight: bold;
        transition: 0.2s linear all;
      }
      .valido {
        transition: 0.2s linear all;
        background-color: #fff !important;
        color: #000 !important;
      }
    }
  }
}
@media (max-width: 1024px) {
  .contacto {
    margin: 15px 0px 15px 0px;
    width: 95%;
    .formulario {
      &-campos {
        &-campo {
          padding: 0px !important;
          margin: 10px !important;
        }
      }
      &-textarea {
        width: 100%;
        padding-left: 3%;
        padding-right: 0px;
      }
      .boton {
        #enviar {
          width: 60%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .contacto {
    .formulario {
      &-campos {
        display: flex;
        flex-direction: column;
      }
    }
    .boton {
      #enviar {
        width: 100% !important;
      }
    }
  }
}

@media (max-width: 425px) {
  .contacto {
    margin: 0px;
    width: 100%;
    .formulario {
      &-campos {
        display: flex;
        flex-direction: column;
      }
      &-textarea {
        padding-right: 30px;
      }
    }
    .boton {
      padding: 40px !important;
      #enviar {
        width: 100% !important;
        padding: 10px 5px 10px 5px !important;
      }
    }
  }
}
