#pop {
  display: flex;
  justify-content: center;
  &-contenido {
    width: 240px;
    color: #fff;
    display: flex;
    height: 40px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .error {
    background-color: #ff6464;
  }
  .enviado {
    background-color: #64ff98;
  }
}